nav(class="sidebar sidebar-offcanvas" id="sidebar") 
	ul.nav 
		li.nav-item
			a(class="nav-link" href="") 
				i(class="icon-grid menu-icon")
				span.menu-title Tableau de board
		li.nav-item
			a(class="nav-link" href="/users" )
				i(class="icon-paper menu-icon")
				span.menu-title Comptes
		li.nav-item
			a(class="nav-link" href="/applications/index") 
				i(class="icon-paper menu-icon")
				span(class="menu-title") Applications
		li.nav-item
			a(class="nav-link" href="/applications/all-comments") 
				i(class="icon-paper menu-icon")
				span(class="menu-title") Commentaires
