doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" ,content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="description" ,content="Unive")
		link(rel="apple-touch-icon" ,sizes="76x76" ,href="/img/logo.jpg")
		link(rel="icon" , type="image/x-icon" ,href="/img/logo.jpg")
		meta(http-equiv="X-UA-Compatible" ,content="IE=edge,chrome=1")
		meta(name="author" ,content="")
		link(rel="canonical" ,href="https://ePStore.com/")
		meta(name="keywords" ,content="application, developpement web, programmation")
		meta(name="description" ,content="application, developpement web, programmation")
		meta(itemprop="name" ,content="ePStore")
		meta(itemprop="description" ,content="application, developpement web, programmation")
		meta(itemprop="image" content="/")
		meta(name="twitter:card" ,content="ePStore")
		meta(name="twitter:site" ,content="ePStore")
		meta(name="twitter:title" ,content="")
		meta(name="twitter:description" ,content="")
		meta(name="twitter:creator" content="@ePStore")
		meta(name="twitter:image" ,content="")
		meta(property="fb:app_id" ,content="")
		meta(property="og:title" content="")
		meta(property="og:type" ,content="website")
		meta(property="og:url" content="https://ePStore.com/")
		meta(property="og:image" ,content="")
		meta(property="og:description" ,content="")
		meta(property="og:site_name" ,content="ePStore")
		block style

	body
		block bodycontent
		block scripts


