extends ../frontend_base_html.pug


block content
    for application in docs
        div(class="col mb-5")
            div(class="card h-100")
                div.text-center
                    h4.fw-bolder= application.title
                img.image(src='/' + application.screenshot )
                div(class="card-body p-2")
                    div.text-center 
                        h6.fw-bolder Auteur:
                            h5.bad= application.author
                            div(class="card-footer p-4 pt-0 border-top-0 bg-transparent")
                    div(class="text-center")
                        a(class="btn btn-outline-dark mt-auto" href="/applications/home/" + application._id) Voir les détails
                    div(class="text-center")
                        a(class="btn btn-outline-dark mt-auto" href="/applications/new-comment/" + application._id) Commenter
    else
        div.text-center
            h4 Aucune application trouvée